/singleResponsiblity/SingleResponsibility_Good/build/
/singleResponsiblity/SingleResponsability_Bad/nbproject/private/
/singleResponsiblity/SingleResponsability_Bad/build/
/LSP/nbproject/private/
/ocp/ocp_good/nbproject/private/
/ocp/ocp_good/build/
/LSP/build/
/ISP/ISPGood/nbproject/private/
/ISP/ISPGood/build/
/ocp/OCPStrategy/nbproject/private/