/singleResponsiblity/SingleResponsibility_Good/build/
/singleResponsiblity/SingleResponsability_Bad/nbproject/private/
/singleResponsiblity/SingleResponsability_Bad/build/
/openClosedPrinciple/OpenClosedPrinciple_Good/nbproject/private/
/LSP/nbproject/private/